<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Edit User</h4>
            <p class="card-category">Complete your user</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      #firstName
                      matInput
                      placeholder="First Name"
                      value="{{ user.firstname }}"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      #lastName
                      matInput
                      placeholder="Last Name"
                      value="{{ user.lastname }}"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input
                      #email
                      matInput
                      placeholder="Email"
                      value="{{ user.email }}"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      #password
                      matInput
                      placeholder="Password"
                      value="{{ user.password }}"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      #phone
                      matInput
                      placeholder="Phone Number"
                      value="{{ user.phone }}"
                    />
                  </mat-form-field>
                </div>
              </div>
              <button
                (click)="onUpdate(firstName.value, lastName.value, email.value, password.value, phone.value)"
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
              >
                Update
              </button>
              <button
                (click)="onDelete()"
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
              >
                Delete
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Admin</h6>
            <h4 class="card-title">{{ user.firstname + ' ' + user.lastname}}</h4>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human
              foundation in truth And I love you like Kanye loves Kanye I love
              Rick Owens’ bed design but the back is...
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
