<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
                <i class="material-icons">group</i>
            </div>
            <p class="card-category">Active Users</p>
            <h3 class="card-title">{{counter}}</h3>
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons">update</i> Just Updated
            </div>
        </div>
    </div>
</div>