<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Edit Article</h4>
            <p class="card-category">Complete your article</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input #title value={{article.title}} matInput placeholder="Title" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input #img value={{article.img}} matInput placeholder="Image Url" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input #category value={{article.category}} matInput placeholder="Category" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <textarea
                      #subtitle
                      value={{article.subTitle}}
                      rows="3"
                      matInput
                      placeholder="Subtitle"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <textarea
                      #body
                      value={{article.body}}
                      rows="30"
                      matInput
                      placeholder="Body"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <button
                (click)="
                  onUpdate(
                    title.value,
                    subtitle.value,
                    img.value,
                    category.value,
                    body.value
                  )
                "
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
              >
                Update
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
