<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Edit Comment</h4>
            <p class="card-category">Complete your comment</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input
                      #name
                      value="{{ comment.name }}"
                      matInput
                      placeholder="Name"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Article</mat-label>
                    <mat-select #articleId value={{comment.articleId}}>
                      <mat-option *ngFor="let article of articles" [value]="article._id">
                        {{article.title}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- <mat-form-field 
                  <!-- <mat-form-field class="example-full-width">
                    <input
                      #articleId
                      value="{{ comment.articleId }}"
                      matInput
                      placeholder="Article ID"
                    />
                  </mat-form-field> -->
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <textarea
                      #body
                      rows="5"
                      matInput
                      placeholder="Body"
                      value="{{ comment.body }}"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <button
                (click)="
                  onUpdate(
                    name.value,
                    articleId.value,
                    body.value
                  )
                "
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
              >
                Update
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
