<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">Contacts Table</h4>
      <a class="" (click)="onCreate()" href="javascript:void(0)">
        <i class="material-icons">add_box</i>
        <!-- <p class="card-category">ADD NEW CATEGORY</p> -->
      </a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th>Name</th>
            <th>Email</th>
            <th>Body</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr *ngFor="let contact of contacts">
              <td>{{contact.name}}</td>
              <td>{{contact.email}}</td>
              <td class="text-primary">{{contact.body.substring(0,30)}}</td>
              <td>
                <a class="" href="javascript:void(0)" (click)="onEdit(article)">
                  <i class="material-icons">edit</i>
                </a>
                <a class="" href="javascript:void(0)" (click)="onDelete(article)">
                  <i class="material-icons">delete</i>
                </a>
                <a class="" href="javascript:void(0)" (click)="onDetails(article)">
                  <i class="material-icons">list</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
