<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">Categories Table</h4>
      <a class="" href="javascript:void(0)">
        <i class="material-icons">add_box</i>
        <!-- <p class="card-category">ADD NEW CATEGORY</p> -->
      </a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th>Name</th>
            <th>Country</th>
            <th>City</th>
            <th>Salary</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr>
              <td>Dakota Rice</td>
              <td>Niger</td>
              <td>Oud-Turnhout</td>
              <td class="text-primary">$36,738</td>
              <td>
                <a class="" href="javascript:void(0)">
                  <i class="material-icons">edit</i>
                </a>
                <a class="" href="javascript:void(0)">
                  <i class="material-icons">delete</i>
                </a>
                <a class="" href="javascript:void(0)">
                  <i class="material-icons">list</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
