<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">Articles Table</h4>
      <a class="" (click)="onCreate()" href="javascript:void(0)">
        <i class="material-icons">add_box</i>
        <!-- <p class="card-category">ADD NEW CATEGORY</p> -->
      </a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th>Title</th>
            <th>Category</th>
            <th>body</th>
            <th>Published</th>
            <th>Last Update</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr *ngFor="let article of articles">
              <td>{{article.title}}</td>
              <td>{{article.category}}</td>
              <td>{{article.body.substring(0,20)}}</td>
              <td class="text-primary">{{article.published | date: 'shortDate'}}</td>
              <td class="text-primary">{{article.lastUpdate | date: 'shortDate'}}</td>
              <td>
                <a class="" href="javascript:void(0)" (click)="onEdit(article)">
                  <i class="material-icons">edit</i>
                </a>
                <a class="" href="javascript:void(0)" (click)="onDelete(article)">
                  <i class="material-icons">delete</i>
                </a>
                <a class="" href="javascript:void(0)" (click)="onDetails(article)">
                  <i class="material-icons">list</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
